<div class="project-index">

  <div class="project-index-box">
    <h2><%= @project.title %></h2>
    <hr>
    <%= simple_format sanitize @project.description %>
    <hr>

    <!-- 工程进度 -->
    <div class="status-box text-center">
      <!-- 沟通需求 -->
      <% if @project.status == "communication"  %>
        <span class="button button-small status-true">沟通需求 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">确定付款 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">设计开发 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">修改测试 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">完成开发 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>

      <!-- 确定付款 -->
      <% elsif @project.status == "payment"  %>
        <span class="button button-small status-true">沟通需求 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">确定付款 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">设计开发 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">修改测试 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">完成开发 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>

      <!-- 设计开发 -->
      <% elsif @project.status == "development"  %>
        <span class="button button-small status-true">沟通需求 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">确定付款 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">设计开发 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">修改测试 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">完成开发 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>

      <!-- 测试修改 -->
      <% elsif @project.status == "text"  %>
        <span class="button button-small status-true">沟通需求 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">确定付款 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">设计开发 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">测试修改 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small">完成开发 <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></span>

      <!-- 完成开发 -->
      <% elsif @project.status == "complete"  %>
        <span class="button button-small status-true">沟通需求 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">确定付款 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">设计开发 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">测试修改 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
        <span class="button button-small status-true">完成开发 <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i></span>
      <% end %>
    </div>


    <!-- new post 输入框 -->
    <div>
      <%= simple_form_for ([:account, @project, @post]) do |f| %>
        <div class="form-group new-project-form">
          <%= f.input :content, :label => false, :placeholder => "请输入...", :require => true %>
          <%= f.submit "提交", :class => "button button-actio", :data => { disable_with: "Subminting..."} %>
        </div>
      <% end %>
    </div>

    <!-- posts 过程 -->
    <div class="post-box">
      <% @posts.each do |post| %>
        <% if post.user.role != "admin" %>
          <div class="customer-post">
            <span><u><strong><%= post.user.display_name %></u> - </strong></span>
            <span><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
            <%= simple_format sanitize post.content %>
          </div>
        <% else %>
          <div class="admin-post">
            <span><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %> - </span>
            <span><u><strong><%= post.user.display_name %></u></strong></span>
            <%= simple_format sanitize post.content %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
